.Button {
  height: 6vh;
  width: 15vh;
  min-width: max-content;
  color: rgb(76, 60, 55);
  background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6acb7f,
    #ddd06f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #73d889,
    #d3c76a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 12px;
  font-size: 1.2rem;
  transition: ease-in-out 0.6s 0.1s;
  font-weight: 600;
  margin-bottom: 20px;
}
.Button:hover {
  box-shadow: 0 12px 16px 0
      rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
