.RegistrationForm {
  background: var(--light-tan);
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  padding: 12px;
  &__section {
  }
  &__name,
  &__username,
  &__password {
  }
  &__alert {
    height: 20px;
    font-size: 12px;
  }
  &__header {
    text-align: center;
  }
  &__tagLine {
    display: block;
    max-width: 300px;
    padding: 12px;
    border: var(--light-tan) solid 2px;
    border-radius: inherit;
  }
  &__name {
  }
  &__username {
  }
  &__password {
  }
  & footer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
