.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light-tan);
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  max-width: 300px;
  width: 100%;
  height: max-content;
  padding-bottom: 14px;

  &__section {
  }
  & div {
    padding: 12px;
  }

  &__header {
    text-align: center;
  }
  &__tagLine {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  &__username,
  &__password {
  }

  &__alert {
    height: 20px;
    font-size: 12px;
  }

  &__loginButton {
    // display: block;
    // margin-right: auto;
    // margin-left: auto;
  }
}
