@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
* {
  box-sizing: border-box;
}
main {
  margin-top: 12px;
}

html {
  background: rgb(125, 125, 158);
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #75c1df,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #75c1df,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  background-attachment: fixed;
}
li {
  list-style-type: none;
}
ul {
  padding-inline-start: 0;
}
body {
  margin: 0;
  height: 100%;

  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(10px + 1vmin);
}

* {
  --vibrant-green: #11c594;
  --light-tan: #f1eac5;
  --greenish-tan: #cbd6a5;
  --reg-tan: #e3c9a3;
  --light-green: #abedae;
  --normal-font-color: rgb(55, 65, 76);
  font-family: Helvetica, Arial,
    sans-serif;
  color: var(--normal-font-color);
}

a {
  color: var(--normal-font-color);
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  color: rgb(96, 28, 39);
  text-shadow: 2px 3px 5px
    rgb(174, 185, 162);
}

.--inputBox {
  border-radius: inherit;
  margin: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}

/*CSS color scheme ideas*/

/* "green" RGB  #11C594 */
/* "light-green" RGB  #ABEDAE */
/* "greenish-tan" RGB  #CBD6A5 */
/* "light-tan" RGB  #EDE2AB */
/* "tan" RGB  #E3C9A3 */

section {
  background-color: var(
    --vibrant-green
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border-radius: 12px;
}
/*CSS color scheme ideas*/

/* "green" RGB  #11C594 */
/* "light-green" RGB  #ABEDAE */
/* "greenish-tan" RGB  #CBD6A5 */
/* "light-tan" RGB  #EDE2AB */
/* "tan" RGB  #E3C9A3 */
